<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="container">
            <% if (bets && bets.length > 0) { %>
                <div class="item-list bet-list">
                    <% for(var i=0; i < bets.length; i++) { %>
                        <div class="list-item bet-list-item">
                            <p class="bet-status"><%= bet[i].status %></p> <!-- replace with image at some point -->
                            <p class="bet-value"><%= bet[i].value %></p>
                            <p class="bet-win"><%= bet[i].win %></p>
                            <p class="bet-horse"><%= bet[i].horse %></p>
                            <p class="bet-race"><%= bet[i].race %></p>
                        </div>
                    <% } %>
                </div>
            <% } else { %>
                <p class="empty-list">No bets have been added yet. Head for the races to place a bet <a href="/races">HERE!</a></p>
            <% } %>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>