<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <img src="images/horses/<%= horse.image %>">
        <p class="horse-name"><%= horse.name %></p>
        <p class="horse-power"><%= horse.power %></p>
        <p class="horse-breed"><%= horse.breed %></p>

        <button type="button" class="btn btn-danger" onclick="deleteHorse(<%= horse.id %>)">Delete</button>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>