<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="container">
            
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addHorseModal">
                Add horse
            </button>
            <% if (horses && horses.length > 0) { %>
                <div class="item-list horse-list">
                    <% for(var i=0; i < horses.length; i++) { %>
                        <div class="list-item horse-list-item">
                            <img src="images/horses/<%= horses[i].image %>">
                            <a class="horse-name" href="/horses/<%= horses[i].id %>"><%= horses[i].name %></a>
                            <p class="horse-power"><%= horses[i].power %></p>
                            <p class="horse-breed"><%= horses[i].breed %></p>
                        </div>
                    <% } %>
                </div>
            <% } else { %>
                <p class="empty-list">No horses are present in the system. Please add some!</p>
            <% } %>
        </div>
        
        <div id="addHorseModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add Horse</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
        
                    <div class="modal-body">
                        <form id="editForm" method="POST">
                            <div class="form-group">
                                <label for="horseName">Name</label>
                                <input class="form-control" name="horseName" id="horseName" required>
                            </div>
        
                            <div class="form-group">
                                <label for="horsePower">Power</label>
                                <input class="form-control" type="number" name="horsePower" id="horsePower" required>
                            </div>

                            <div class="form-group">
                                <label for="horseBreed">Breed</label>
                                <input class="form-control" name="horseBreed" id="horseBreed" required>
                            </div>
        
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>