<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body>

    <header>
        <%- include('../partials/header'); %>
    </header>

    <main>
        <div class="container">
            
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addRaceModal">
                Add race
            </button>
            <% if (races && races.length > 0) { %>
                <div class="item-list race-list">
                    <% for(var i=0; i < races.length; i++) { %>
                        <a class="list-item race-list-item" href="/races/<%= races[i].id %>">
                            <p class="race-description"><%= races[i].description %></p>
                            <p class="race-breed"><%= races[i].breed %></p>
                        </a>
                    <% } %>
                </div>
            <% } else { %>
                <p class="empty-list">No races are present in the system. Please create one!</p>
            <% } %>
        </div>
        
        <div id="addRaceModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Add race</h5>
                        <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
        
                    <div class="modal-body">
                        <form id="editForm" method="POST">
                            <div class="form-group">
                                <label for="raceTime">Time</label>
                                <input type="datetime-local" class="form-control" name="raceTime" id="raceTime" required>
                            </div>
        
                            <div class="form-group">
                                <label for="raceDescription">Description</label>
                                <input class="form-control" name="raceDescription" id="raceDescription" required>
                            </div>

                            <div class="form-group checkbox-group">
                                <% for(var i=0; i < horses.length; i++) { %>
                                    <input class="form-check-input" type="checkbox" name="raceHorse<%= horses[i].id %>" id="raceHorse<%= horses[i].id %>" value="">
                                    <label class="form-check-label" for="raceHorse<%= horses[i].id %>">
                                        <img src="images/horses/<%= horses[i].image %>">
                                        <p class="horse-name"><%= horses[i].name %></p>
                                    </label>
                                <% } %>
                            </div>
        
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

</body>
</html>