<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="container">

    <header>
        <%- include('../partials/header'); %>
    </header>

    <% if (loggedin) { %>
        <script>getBetForRace(<%=id%>)</script>
        <div class="addBetContainer">
        </div>
    <% } %>

    <main>
        <% if (isAdmin && racePending) { %>
            <button type="button" class="btn btn-primary" id="execute-btn">Execute</button>
            <button type="button" class="btn btn-primary" id="cancel-btn">Cancel</button>
        <% } %>
        <div class="race-container"></div>
    </main>

    <footer>
        <%- include('../partials/footer'); %>
    </footer>

    <% if (loggedin) { %>
        <div id="addBetModal" class="modal fade" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Place a Bet</h5>
                        <button type="button" class="close" data-mdb-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
        
                    <div class="modal-body">
                        <form id="editForm" method="POST" action="/api/bets">
                            <div class="form-group">
                                <label for="betValue">Amount</label>
                                <input type="number" class="form-control" min="0" max="<%= userbalance %>" name="betValue" id="betValue" required>
                            </div>

                            <div class="form-group">
                                <select class="form-select horse-bet-select" aria-label="Default select example" id="horseId" name="horseId" required>
                                    <option value="" selected>Choose your horse</option>
                                </select>
                            </div>

                            <input type="hidden" id="raceId" name="raceId" value="<%= id %>">
        
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    <% } %>

    <script>getRace(<%= id %>)</script>

</body>
</html>